/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: ;
} */

:root {
    --bo-metadata: #808080;
    --bo-underline: #FFFF00;
    --bo-thead-bg: #20A9E5;
    --bo-thead: #ffffff;
    --bo-th-d0: #B1E5F2;
    --bo-footer: #838383;

}

/* #endregion Common */

/* #region Utility Classes */
/* #endregion Utility Classes */

/* #region Header */
#app-header {
    background-image: url("../img/pattern.png");
    background-size: 320px;
    background-color: rgb(78, 160, 255);
    height: 5em;
    padding-left: 100px;

}

#app-header > img {
    margin-top: 1.8em;
    width: 170px;
}

/* #endregion Header */

/* #region Main */
#app-main {
    margin-right: 100px;
    margin-left: 100px;
}

#app-main > h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
}

#app-main > .author {
    color: var(--bo-metadata);
    margin-top: 0;
    margin-bottom: 0;
}

#app-main > .date {
    color: var(--bo-metadata);
    margin-top: 0;
    font-size: 0.6em;
}

#app-main img {
    height: 290px;
}

#app-main > ul {
    padding-left: 1em;
}

.photo_legend {
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
}

.underline {
    background-color: var(--bo-underline);
}

table > thead {
    background-color: var(--bo-thead-bg);
    color: var(--bo-thead);
}

th {
    font-weight: normal;
    text-align: left;
    margin: 0;
}

tr.d0 th {
    background-color: var(--bo-th-d0);
}

th.spaced {
    width: 200px;
}

/* #endregion Main */

/* #region Footer */
#app-footer {
    margin-right: 100px;
    margin-left: 100px;
}

#app-footer > h4 {
    color: var(--bo-footer);
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#app-footer div {
    padding: 0.5em;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    width: 200px;
    height: 130px;
    background-size: contain;
}

#app-footer #img1 {
    background-image: url(./img/monitor.jpg);
    margin-bottom: 0.5em;
}

#app-footer #img2 {
    background-image: url(./img/graph.jpg);
}

table {
    border-collapse: collapse;
}

/* #endregion Footer */